# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.local

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Data and Models
ml_models/
checkpoints/
redis/
dump.rdb
tmp/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
